@font-face {
    font-family: DB-Icon-Pack-1;
    src: url("DeutscheBahnAG-One.ttf");
}

@font-face {
    font-family: DB-Icon-Pack-2;
    src: url("DeutscheBahnAG-Two.ttf");
}

@font-face {
    font-family: DB-Icon-Pack-3;
    src: url("DeutscheBahnAG-Three.ttf");
}

@font-face {
    font-family: DB-Icon-Pack-4;
    src: url("DeutscheBahnAG-Four.ttf");
}

@font-face {
    font-family: DB-Icon-Pack-5;
    src: url("DeutscheBahnAG-Five.ttf");
}

@font-face {
    font-family: DB-Icon-Pack-6;
    src: url("DeutscheBahnAG-Six.ttf");
}