@font-face {
    font-family: FrutigerNextPro-Regular;
    src: url("FrutigerNextPro-Regular.otf");
}


@font-face {
    font-family: FrutigerNextPro-Bold;
    src: url("FrutigerNextPro-Bold.otf");
}


html {
    font-family: FrutigerNextPro-Regular, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --nachtblau: #222D5A;
    --Signalgelb: #F9A900;
    --verkehrsrot: #BB1F11;
    --lichtblau: #0089B6;
}

body {
    background: #222D5A;
}



h1 {
    font-family: FrutigerNextPro-Bold, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 1.5rem;
}
